<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-8 col-md-offset-2">
                <div>
                    <h2 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;padding-top: 20px; ">CUSTOM DECLARATION FORM</h2>
                </div>
                <div class="md-form" style="margin: 20px;">
                    <label style="padding-left:15px" for="form1">First Name</label>
                    <input type="text" id="form1" placeholder="eg. John" class="form-control">
                </div>
                <div class="md-form" style="margin: 20px;">
                    <label style="padding-left:15px" for="form1">First Name</label>
                    <input type="text" id="form1" placeholder="eg. Verstappen" class="form-control">
                </div>
                <div class="md-form" style="margin: 20px;">
                    <label style="padding-left:15px" for="form1">Passport Number</label>
                    <input type="text" id="form1" placeholder="eg. J170217" class="form-control">
                </div>
                <div class="md-form" style="margin: 20px;">
                    <label style="padding-left:15px" for="form1">Nationality</label>
                    <input type="text" id="form1" placeholder="eg. England" class="form-control">
                </div>
                <div class="md-form" style="margin: 20px;">
                    <label style="padding-left:15px" for="form1">Date of Arrival</label>
                    <input type="text" id="form1" placeholder="eg. 10/07/2020" class="form-control">
                </div>
                <div class="md-form" style="margin: 20px;">
                    <label style="padding-left:15px" for="form1">Flight Number</label>
                    <input type="text" id="form1" placeholder="eg. BA2490" class="form-control">
                </div>
                <div class="md-form" style="margin: 20px;">
                    <label style="padding-left:15px" for="form1">Number of Bagagges</label>
                    <input type="text" id="form1" placeholder="eg. 2" class="form-control">
                </div>
                <div class="md-form" style="margin: 20px;">
                    <label style="padding-left:15px" for="form1">Destination</label>
                    <input type="text" id="form1" placeholder="eg. Hong Kong" class="form-control">
                </div>

                <div class="text-center" style="padding-top: 40px;padding-bottom: 20px; ">
                    <button type="submit " class="btn btn-info btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;background-color: black;border-color: black; " (click)="openDialog()" routerLink="/destination"><i class="fa fa-paper-plane " ></i> Submit</button>
                </div>

            </div>
        </div>
    </div>
</div>