<div class="main-content">
    <div class="container-fluid">
        <div>
            <h2 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;padding-top: 20px; "> SEAT MAP </h2>
        </div>

        <div class="card" style="padding-top: 20px;padding-bottom: 20px;">
            <div class="row">

                <div class="col-md-3 col-md-offset-1">

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">P-1</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">P-2</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">P-3</div>
                    </div>


                    <br class="clearBoth" />


                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-1</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-2</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-3</div>
                    </div>


                    <br class="clearBoth" />

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">R-1</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">R-2</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">R-3</div>
                    </div>


                    <br class="clearBoth" />

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">S-1</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">S-2</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">S-3</div>
                    </div>


                    <br class="clearBoth" />


                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-1</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-2</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-3</div>
                    </div>


                    <br class="clearBoth" />



                </div>

                <div class="col-md-3 col-md-offset-1">

                    <div class="outer-seat-1" id="div-inline">
                        <button>
                            <div class="inner-seat-1">
                                P-4
                            </div>
                        </button>
                    </div>

                    <div class="outer-seat-1" id="div-inline">
                        <button>
                            <div class="inner-seat-1">P-5
                            </div>
                        </button>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">P-6</div>
                    </div>


                    <br class="clearBoth" />


                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-4</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-5</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-6</div>
                    </div>


                    <br class="clearBoth" />

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">R-4</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">R-5</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">R-6</div>
                    </div>


                    <br class="clearBoth" />

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">S-4</div>
                    </div>
                    <div class="outer-seat-1" id="div-inline">
                        <button>
                            <div class="inner-seat-1">
                            S-5</div>
                        </button>
                    </div>

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">S-6</div>
                    </div>


                    <br class="clearBoth" />


                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-4</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-5</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-6</div>
                    </div>


                    <br class="clearBoth" />



                </div>

                <div class="col-md-3 col-md-offset-1">

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">P-7</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">P-8</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">P-9</div>
                    </div>


                    <br class="clearBoth" />


                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-7</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-8</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">Q-9</div>
                    </div>


                    <br class="clearBoth" />

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">R-7</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">R-8</div>
                    </div>
                    <div class="outer-seat-1" id="div-inline">
                        <button>
                            <div class="inner-seat-1">R-9
                            </div>
                        </button>
                    </div>


                    <br class="clearBoth" />

                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">S-7</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">S-8</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">S-9</div>
                    </div>


                    <br class="clearBoth" />


                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-7</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-8</div>
                    </div>
                    <div class="outer-seat" id="div-inline">
                        <div class="inner-seat">T-9</div>
                    </div>


                    <br class="clearBoth" />



                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div>
            <h2 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, 
            Verdana, sans-serif;font-size: x-large;padding-top: 20px; "> RESERVATION </h2>
        </div>

        <div class="row" style="padding-top: 40px;">
            <div class="col-md-6">
                <div class="card" style="padding: 40px 0 40px 0;">
                    <div class="row" style="padding-right: 40px;">
                        <div class="col-md-4">
                            <h2 style=" text-align: center;font-weight: 600;font-family: 'Segoe UI', Tahoma, Geneva, 
                    Verdana, sans-serif;font-size:medium; "> Select a seat </h2>
                        </div>
                        <div class="col-md-4">
                            <mat-select placeholder="Select" name="city" ngClass="btn btn-primary btn-round simple">
                                <mat-option *ngFor="let city of Source" [value]="city.value">
                                    {{ city.viewValue }}
                                </mat-option>
                            </mat-select>
                        </div>
                        <div class="col-md-4 ">
                            <mat-select placeholder="Select" name="num" ngClass="btn btn-primary btn-round simple">
                                <mat-option *ngFor="let num of Row" [value]="num.value">
                                    {{ num.viewValue }}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                    <div class="text-center" style="padding-top: 20px;">
                        <p style=" font-size: medium; "><button style="font-size: medium;padding:3px 35% 3px 35% ;border-radius: 10px;color: beige;background-color: black;border: black; " routerLink="/user">Check the Details</button></p>
                    </div>
                    <div class="text-center " style="padding-top: 20px;">
                        <h5 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: large;padding-top: 20px; "> PAYMENTS </h5>
                    </div>
                    <div class="card " style="margin: 10px 10% 0 10%;padding: 20px 0 7px 0; ">
                        <h4 class="text-center" style="color: green; font-size: x-large;font-weight: 700;">
                            <i class="pe-7s-ticket " style="font-weight: 900;font-size: x-large;padding-right: 5px;"></i> Offers</h4>

                        <h4 style="text-align: center; font-size: small;"> 5% off* with HSBC Bank Credit Card
                            <a>T&C</a>
                        </h4>

                        <h4 style="text-align: center; font-size: small;"> 5% Unlimited Cashback on EmergeX HSBC Bank Credit Card
                            <a>T&C</a>
                        </h4>

                    </div>
                    <div style="margin: 5%;">
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="materialUnchecked" name="materialExampleRadios">
                            <label class="form-check-label" style="margin: 3%;" for="materialUnchecked">Credit / Debit / ATM Card</label>
                        </div>

                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" checked>
                            <label class="form-check-label" style="margin: 3%;" for="materialChecked">Net banking</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" checked>
                            <label class="form-check-label" style="margin: 3%;" for="materialChecked">Google Pay / PhonPe / Paytm / Other UPI</label>
                        </div>
                        <!-- Material checked -->
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" checked>
                            <label class="form-check-label" style="margin: 3%;" for="materialChecked">HSBC UPI</label>
                        </div>
                        <div class="form-check">
                            <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" checked>
                            <label class="form-check-label" style="margin: 3%;" for="materialChecked">HSBC Netbanking</label>

                        </div>

                    </div>
                    <div class="text-center" style="padding-top: 20px;">
                        <p style=" font-size: medium; "><button (click)="openDialog2()" routerLink="/destination" style="font-size: medium;padding:3px 35% 3px 35% ;border-radius: 10px;color: beige;background-color: black;border: black; ">Checkout</button></p>
                    </div>
                    <!-- button to trigger the action -->

                    <!-- javascript -->

                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets\img\ilustra_coronavirus_crop1582726532753.png" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-black" height="20px" src="https://cdn3.iconfinder.com/data/icons/network-and-communications-3-1/130/104-512.png" alt="..." />

                            <h4 class="title" style="font-size: large;font-weight: 600;">MEDICAL CERTIFICATE<br />
                            </h4>
                            <h5 style="font-size: small;" class="title">Considering the current COVID-19 situation for the safety and security of our travelers a medical certificate is required with a check-up on cough, fever and breathing issues from a registered doctor
                            </h5>

                            <hr>

                            <div class="text-center">
                                <button class="btn btn-info btn-fill " style="padding-left: 40%;padding-right: 40%;background-color: black;border: black;" routerLink="/medcert"><i class="fa fa-upload"></i>Upload</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="card card-user" style="height: 300px;">
                    <div class="image">
                        <img src="assets\img\businessman-holding-id-card-character-cartoon-business-people-conceptual-vector-illustration-businessman-holding-id-card-158208486.jpg" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-black" height="20px" src="https://w7.pngwing.com/pngs/341/867/png-transparent-white-check-with-green-background-illustration-fingerprint-comcast-circle-symbol-technology-tick-miscellaneous-angle-logo.png" alt="..." />

                            <h4 class="title" style="font-size: large;font-weight: 600;">NATIONALITY CARD<br />
                            </h4>


                            <hr>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill " style="padding-left: 37%;padding-right: 37%;background-color: black;border: black;"><i class="fa fa-upload"></i>Verify Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>