<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="card">
                    <div>
                        <h2 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;padding-top: 20px; ">AIRLINES</h2>
                    </div>

                    <div class="content table-responsive table-full-width table-upgrade">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>

                                    <th class="text-center">Duration</th>
                                    <th></th>
                                    <th class="text-center">Economy Class</th>
                                    <th class="text-center">Business Class</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Jetstar Asia Airways</td>

                                    <td style="max-width: 10%;">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">04:30</h2>
                                                <h5 class="text-center"> Mumbai </h5>
                                            </div>
                                            <div class="col-sm-4">
                                                <h7 style="font-size: smaller;">5 hrs</h7>
                                                <br><i class="pe-7s-next " style="font-size: x-large;color: darkblue;"></i><br>
                                                <h7 style="font-size: smaller;">0 stops</h7>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">09:30</h2>
                                                <h5 class="text-center"> Hong Kong </h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="text-center" style="padding-left: 6%;">
                                        <tr> US$460 </tr>
                                        <tr>
                                            <button class="btn btn-success btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/seatmap"><h6 style="margin-top: -10px;font-size: x-small;">Seats Available</h6></button>
                                        </tr>
                                    </td>
                                    <td class="text-center" style="padding-left: 7%;">
                                        <tr class="text-center"> US$860 </tr>
                                        <tr>
                                            <button class="btn btn-success btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/seatmap"><h6 style="margin-top: -10px;font-size: x-small;">Seats Available</h6></button>
                                        </tr>
                                    </td>
                                </tr>




                                <tr>
                                    <td>AirAsia</td>

                                    <td style="max-width: 10%;">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">09:30</h2>
                                                <h5 class="text-center"> Mumbai </h5>
                                            </div>
                                            <div class="col-sm-4">
                                                <h7 style="font-size: smaller;">7.15 hrs</h7>
                                                <br><i class="pe-7s-next " style="font-size: x-large;color: darkblue;"></i><br>
                                                <h7 style="font-size: smaller;">1 stop</h7>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">16:45</h2>
                                                <h5 class="text-center"> Hong Kong </h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="text-center" style="padding-left: 6%;">
                                        <tr> US$420 </tr>
                                        <tr>
                                            <button class="btn btn-success btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/seatmap"><h6 style="margin-top: -10px;font-size: x-small;">Seats Available</h6></button>
                                        </tr>
                                    </td>
                                    <td class="text-center" style="padding-left: 7%;">
                                        <tr class="text-center"> US$810 </tr>
                                        <tr>
                                            <button class="btn btn-success btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/seatmap"><h6 style="margin-top: -10px;font-size: x-small;">Seats Available</h6></button>
                                        </tr>
                                    </td>
                                </tr>




                                <tr>
                                    <td>Emirates</td>

                                    <td style="max-width: 10%;">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">13:10</h2>
                                                <h5 class="text-center"> Mumbai </h5>
                                            </div>
                                            <div class="col-sm-4">
                                                <h7 style="font-size: smaller;">4.20 hrs</h7>
                                                <br><i class="pe-7s-next " style="font-size: x-large;color: darkblue;"></i><br>
                                                <h7 style="font-size: smaller;">0 stops</h7>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">17:30</h2>
                                                <h5 class="text-center"> Hong Kong </h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="text-center" style="padding-left: 6%;">
                                        <tr> US$660 </tr>
                                        <tr>
                                            <button class="btn btn-danger btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/airlist"><h6 style="margin-top: -10px;font-size: x-small;"> Not     Available </h6></button>
                                        </tr>
                                    </td>
                                    <td class="text-center" style="padding-left: 7%;">
                                        <tr class="text-center"> US$920 </tr>
                                        <tr>
                                            <button class="btn btn-success btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/seatmap"><h6 style="margin-top: -10px;font-size: x-small;">Seats Available</h6></button>
                                        </tr>
                                    </td>
                                </tr>




                                <tr>
                                    <td>Qatar Airways</td>

                                    <td style="max-width: 10%;">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">14:30</h2>
                                                <h5 class="text-center"> Mumbai </h5>
                                            </div>
                                            <div class="col-sm-4">
                                                <h7 style="font-size: smaller;">5.40 hrs</h7>
                                                <br><i class="pe-7s-next " style="font-size: x-large;color: darkblue;"></i><br>
                                                <h7 style="font-size: smaller;">0 stops</h7>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">20:10</h2>
                                                <h5 class="text-center"> Hong Kong </h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="text-center" style="padding-left: 6%;">
                                        <tr> US$530 </tr>
                                        <tr>
                                            <button class="btn btn-danger btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/airlist"><h6 style="margin-top: -10px;font-size: x-small;">Not Available</h6></button>
                                        </tr>
                                    </td>
                                    <td class="text-center" style="padding-left: 7%;">
                                        <tr class="text-center"> US$910 </tr>
                                        <tr>
                                            <button class="btn btn-danger btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/airlist"><h6 style="margin-top: -10px;font-size: x-small;">Not Available</h6></button>
                                        </tr>
                                    </td>
                                </tr>





                                <tr>
                                    <td>Quantas Airways</td>

                                    <td style="max-width: 10%;">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">19:00</h2>
                                                <h5 class="text-center"> Mumbai </h5>
                                            </div>
                                            <div class="col-sm-4">
                                                <h7 style="font-size: smaller;">7.10 hrs</h7>
                                                <br><i class="pe-7s-next " style="font-size: x-large;color: darkblue;"></i><br>
                                                <h7 style="font-size: smaller;">2 stops</h7>
                                            </div>
                                            <div class="col-sm-4">
                                                <h2 class="text-center" style="font-weight: 600;margin-bottom: -5%">26:10</h2>
                                                <h5 class="text-center"> Hong Kong </h5>
                                            </div>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="text-center" style="padding-left: 6%;">
                                        <tr> US$360 </tr>
                                        <tr>
                                            <button class="btn btn-success btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/seatmap"><h6 style="margin-top: -10px;font-size: x-small;">Seats Available</h6></button>
                                        </tr>
                                    </td>
                                    <td class="text-center" style="padding-left: 7%;">
                                        <tr class="text-center"> US$760 </tr>
                                        <tr>
                                            <button class="btn btn-success btn-fill " style="padding-left: 10%;padding-right: 10%;text-align: center;font-size: x-small;height: 10px;" routerLink="/seatmap"><h6 style="margin-top: -10px;font-size: x-small;">Seats Available</h6></button>
                                        </tr>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>