<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div>
                <h2 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;padding-top: 20px; "> MEDICAL CERTIFICATE </h2>
            </div>

            <div class="fileinput fileinput-new text-center" data-provides="fileinput">

                <div class="fileinput-preview fileinput-exists thumbnail"></div>



                <div>
                    <span class="btn btn-rose btn-round btn-file">

                    <input type="file" name="..." />
                    </span>
                    <a class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                </div>
            </div>
            <div class="text-center" style="padding : 3% 0 3%">
                <button type="submit" routerLink="/destination" class="btn btn-info btn-fill " style="padding-left: 37%;padding-right: 37%;background-color: black;border: black;"><i class="fa fa-upload"></i>Upload</button>
            </div>

        </div>
    </div>
</div>