<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Profile</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>User ID (disabled)</label>
                                        <input type="text" class="form-control" disabled placeholder="Company" value="AQ155E">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input type="text" class="form-control" placeholder="Username" value="{{User_Name}}">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input type="email" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4" style="padding-left: 10%;">
                                    <img style="border: black;border-width: 1px;" src="assets/img/faces/face-3.jpg" alt="..." />
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <input type="text" class="form-control" placeholder="Company" value="Mike">
                                        <div class="form-group">
                                            <label>Last Name</label>
                                            <input type="text" class="form-control" placeholder="Last Name" value="Andrew">
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Address</label>
                                        <input type="text" class="form-control" placeholder="Home Address" value="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        <input type="text" class="form-control" placeholder="City" value="Mike">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        <input type="text" class="form-control" placeholder="Country" value="Andrew">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Postal Code</label>
                                        <input type="number" class="form-control" placeholder="ZIP Code">
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button class="btn btn-info btn-fill" style="padding-right: 40%;padding-left: 40%;background-color: black;border-color: black;">Update Profile</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card card-user">
                    <div class="image">
                        <img src="assets\img\ilustra_coronavirus_crop1582726532753.png" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-black" height="20px" src="https://cdn3.iconfinder.com/data/icons/network-and-communications-3-1/130/104-512.png" alt="..." />

                            <h4 class="title" style="font-size: large;font-weight: 600;">MEDICAL CERTIFICATE<br />
                            </h4>
                            <h5 style="font-size: small;" class="title">Considering the current COVID-19 situation for the safety and security of our travelers a medical certificate is required with a check-up on cough, fever and breathing issues from a registered doctor
                            </h5>

                            <hr>

                            <div class="text-center">
                                <button class="btn btn-info btn-fill " style="padding-left: 40%;padding-right: 40%;background-color: black;border: black;" routerLink="/medcert"><i class="fa fa-upload"></i>Upload</button>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="card card-user" style="height: 300px;">
                    <div class="image">
                        <img src="assets\img\businessman-holding-id-card-character-cartoon-business-people-conceptual-vector-illustration-businessman-holding-id-card-158208486.jpg" alt="..." />
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-black" height="20px" src="https://w7.pngwing.com/pngs/341/867/png-transparent-white-check-with-green-background-illustration-fingerprint-comcast-circle-symbol-technology-tick-miscellaneous-angle-logo.png" alt="..." />

                            <h4 class="title" style="font-size: large;font-weight: 600;">NATIONALITY CARD<br />
                            </h4>


                            <hr>

                            <div class="text-center">
                                <button type="submit" class="btn btn-info btn-fill " style="padding-left: 37%;padding-right: 37%;background-color: black;border: black;"><i class="fa fa-upload"></i>Verify Again</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>