<div>
    <h2 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;padding-top: 20px; ">
        <div>
            <h2 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: x-large;padding-top: 20px; ">The website is still under development</h2>
            <h2 style=" text-align: center;font-weight: 700;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: medium;padding-top: 20px; ">This section will be added soon. Stay tuned ;)</h2>

        </div>